@import './user/pages/dashboard.css';
@import './admin/components/navbar.css';
@import './admin/components/sidebar.css';
@import './admin/pages/dashboard.css';
@import './admin/pages/booking.css';
@import "flowbite";

@layer base {
    body {
        font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
}

.admin-main {
    margin-left: 250px;
    min-height: 100vh;
    background: #f5f6fa;
}


.harga-card {
    background: #1e293b;
    border-radius: 20px;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    transition: 0.3s;
    border: none;
}

.harga-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}


.harga-box {
    border-radius: 15px;
    border: none;
    background: #111827;
    color: #e5e7eb;
    transition: 0.3s;
}

.harga-box:hover {
    transform: scale(1.02);
    background: #1f2937;
}

.summary-card {
    border-radius: 15px;
    border: none;
    background: #020617;
    color: #e5e7eb;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}


.btn-danger {
    border-radius: 10px;
    font-weight: 500;
    background-color: #dc2626;
    border: none;
}

.btn-danger:hover {
    background-color: #b91c1c;
}